@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

a.active {
  color: #e94545;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    theme("colors.primaryRed"),
    transparent
  );
  border-radius: 2px;
}
